<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<title>Users System</title>
</head>
<body>
  <div class="container mt-5 w-75">

    <div th:replace="~{fragments :: header(home)}"></div> 
	
	<div class="jumbotron bg-light border border-info mt-3 py-4" style="min-height: 450px">
	  <h1 class="display-2 text-center" style="margin-top: 90px">Users System</h1>
	  <hr class="my-4 w-75">
	  <p class="lead text-center text-muted">This application performs CRUD operations (Create, Read, Update and Delete) on Users.</p>
	</div>
  </div>

  <div th:replace="~{fragments :: scripts}"></div>
   
</body>
</html>