<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
	integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
	crossorigin="anonymous">
<title>Users System</title>
</head>
<body>
	<div class="container mt-5 w-75">

		<div th:replace="~{fragments :: header(products)}"></div>

		<div class="table-responsive mt-3">

			<a class="btn btn-primary" href="/products/create">Create product</a>

			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Id Product</th>
						<th scope="col">SKU</th>
						<th scope="col">Product Name</th>
						<th scope="col">Description</th>
						<th scope="col">Status</th>
						<th scope="col">Stock Qty</th>
						<th scope="col">Price</th>
						<th scope="col">Image</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="product: ${products}">
						<th th:text="${product.idProduct}"></th>
						<td th:text="${product.sku}"></td>
						<td th:text="${product.productName}"></td>
						<td th:text="${product.description}"></td>
						<td th:text="${product.statusProduct}"></td>
						<td th:text="${product.stockQuantity}"></td>
						<td th:text="@{${product.productPrice} + ' $'}"></td>
						<td>
							<img th:src="@{'/images/' + ${product.productImage}}" alt="..." width="100">
						</td>
						<td style="white-space:nowrap">
							<a class="btn btn-primary btn-sm"
								th:href="@{/products/edit(idProduct=${product.idProduct})}" >Edit</a>
							<a class="btn btn-danger btn-sm"
								th:href="@{/products/delete(idProduct=${product.idProduct})}"
								onclick="return confirm ('Are you sure?')">Delete</a>
						</td>
						
					</tr>
				</tbody>
			</table>

		</div>

	</div>

	<div th:replace="~{fragments :: scripts}"></div>

</body>
</html>